<li>
	{{veg_name}}

	<button class="change-state" data-id="{{veg_id}}" data-veg_state="{{veg_state}}">
		{{#if veg_state}}Good Job{{else}}Eat it!{{/if}}
	</button>

	{{!-- <button class="delete-cat" data-id="{{this.id}}">DELETE!</button> --}}
</li>